
@border-color: #0CF;
@margin-elt : 4px;

@font-size-default : 14px;
@text-color : #111;
@text-color-light : #111;
@text-color-dark : #EEE;

@button-color : #8BF;
@button-hover-color : #8AE;

html {

	body {
		font-family: Helvetica, sans-serif, Arial;
		font-size: @font-size-default;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		height: 100%;
		background-color: #888;

		#react-root {
			height: 100%;
			.app-container {
				background-color: #EEE;
				color: @text-color;
				padding-top: 30px;
				margin-left: auto;
				margin-right: auto;
				a.common-button {
					text-decoration: none;
					color: #000;
					background-color: @button-color;
					padding: 4px 8px;
					display: inline-block;
					border-radius: 2px;
					margin: 2px 4px;
					&:hover {
						background-color: @button-hover-color;
					}
				}

				a.small-button {
					color: #000;
					text-decoration: none;
					background-color: #AAA;
					width: 16px;
					height: 16px;
					margin: 1px 2px;
					border-radius: 2px;
					padding: 4px;
					display: inline-block;
					&:hover {
						background-color: #888;
					}

					&.small-button-blue {
						background-color: #8BF;
						&:hover {
							background-color: #89D;
						}
					}

					&.small-button-green {
						background-color: #3C3;
						&:hover {
							background-color: #1A1;
						}
					}

					&.small-button-yellow {
						background-color: #CC4;
						&:hover {
							background-color: #AA0;
						}
					}

					&.small-button-orange {
						background-color: #EA2;
						&:hover {
							background-color: #D80;
						}
					}

					&.small-button-red {
						background-color: #F66;
						&:hover {
							background-color: #D44;
						}
					}

					&.small-button-purple {
						background-color: #B7B;
						&:hover {
							background-color: #A6A;
						}
					}
				}
				.clearfix {
					clear: both;
				}

				div.menu {
					background-color: rgba(204, 204, 204, 0.3);
					margin-bottom: 2px;
					padding-left: 4px;
					padding-right: 4px;
					position: fixed;
					top: 0px;
					width: 100%;
					
					.menu-entry {
						background-color: rgba(204, 204, 204, 0.8);
						display: inline-block;
						width: 76px;
						text-decoration: none;
						color: #000;
						padding: 6px 6px;
						text-align: center;
						line-height: 18px;
						&.active {
							background-color: @button-color;
						}
						&:hover {
							background-color: @button-hover-color;
						}
					}
					.sync-indicator {
						color: #000;
						display: inline-block;
						background-color: #888;
						width: 18px;
						padding: 5px 6px;
						cursor: pointer;
						span {
							font-size: 16px;
							line-height: 18px;
							display: block;
							width: 18px;
							height: 20px;
						}
						&.connected {
							background-color: #0A0;
						}
						&.busy {
							background-color: #F00;
						}
					}
				}

				select, 
				input[type=text] {
					border-style: solid;
					border-width: 1px;
					border-radius: 4px;
					box-sizing: border-box;
					padding: 4px 8px;
					border-color:	#CCC;
					color: @text-color;
				}

				.project-label {
					line-height: 18px;
					color: #FFF;
					border-radius: 2px;
					padding: 3px 6px;
					width: 40px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow-x: hidden;
				}

				select.project-label {
					width: 100%;
				}

				div.new-task-form {
					padding: 1px 4px;
				}

				div.alerts {
					.alert {
						margin: 4px 8px 0px 8px;
						padding: 4px 8px;
						border-radius: 2px;
						&.error {
							background-color: #FCC;
							color: #400;
							.alert-hide {
								color: #800;
								&:hover {
									color: #000;
								}
							}
						}
						&.success {
							background-color: #CFC;
							color: #040;
							.alert-hide {
								color: #080;
								&:hover {
									color: #000;
								}
							}
						}
						.alert-hide {
							float: right;
							cursor: pointer;
						}
					}
				}

				span.color-yes {
					color: #0A0;
				}
				span.color-no {
					color: #A00;
				}

				table.list-table {
					width: 100%;
					table-layout: fixed;
					tr.status-active {
						color: @text-color;
					}
					tr.status-done {
						color: #888;
					}
					input[type=text] {
						width: 100%;
					}
				}

				form {
					select {
						height: 24px;
						background-color: #222;
						color: @text-color;
						border-width: 1px;
						border-type: solid;
						border-radius: 4px;
						padding: 1px 2px;
						margin: 1px 2px;
						option {
							color: @text-color;
							height: 24px;
							background-color: #FFF;
						}
					}

					// Form on full page
					table.form-table {
						width: 100%;
						select {
							width: 100%;
						}

						input[type=text] {
							width: 100%;
						}
					}
				}

				.page-content {
					padding-left: 4px;
					padding-right: 4px;
					padding-top: 4px;
					padding-bottom: 4px;
				}

				// RadioSelector
				.radio-selector {
					.radio-selector-elt {
						display: inline-block;
						line-height: 18px;
						text-decoration: none;
						height: 18px;
						margin: 2px 2px;
						border-radius: 2px;
						padding: 4px 8px;
						&[data-selected=selected] {
							color : @text-color;
							background-color: @button-color;
						}
					}
				}

				// Light theme
				&[data-theme=light] {
					background-color: #EEE;
					color: @text-color-light;

					table.list-table {
						tr.status-active {
							color: @text-color-light;
						}
					}
					select {
						color: @text-color-light;
						background-color: #DDD;
						border-color: #BBB;
						option {
							color: @text-color-light;
							background-color: #DDD;
						}
					}
					input[type=text] {
						border-color: #BBB;
						color: @text-color-light;
						background-color: #DDD;
					}

					.radio-selector {
						.radio-selector-elt {
							color : @text-color;
						}
					}
				}

				// Dark theme
				&[data-theme=dark] {
					background-color: #111;
					color: @text-color-dark;

					table.list-table {
						tr.status-active {
							color: @text-color-dark;
						}
					}
					select {
						color: @text-color-dark;
						background-color: #222;
						border-color: #444;
						option {
							color: @text-color-dark;
							background-color: #222;
						}
					}
					input[type=text] {
						border-color: #444;
						color: @text-color-dark;
						background-color: #222;
					}

					.radio-selector {
						.radio-selector-elt {
							color : @text-color-dark;
							&[data-selected=selected] {
								color : @text-color;
							}
						}
					}
				}
			}
		}
	}
}

table[data-table=task-list] {
	td[data-column=actions] {
		width: 84px;
	}
	td[data-column=project] {
		width: 52px;
	}
}
table[data-table=project-list] {
	td[data-column=actions] {
		width: 84px;
	}
	td[data-column=indicators] {
		width: 56px;
	}
}
table[data-table=settings-list] {
	td[data-column=label] {
		width: 100px;
	}
	td[data-column=value] {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (min-width: 480px) {
	html body #react-root .app-container {
		.project-label {
			width: 80px;
		}
	}
	table[data-table=task-list] {
		td[data-column=project] {
			width: 92px;
		}
	}
}
@media (min-width: 576px) {
	html body #react-root .app-container {
		.project-label {
			width: 120px;
		}
	}
	table[data-table=task-list] {
		td[data-column=project] {
			width: 132px;
		}
	}
}
@media (min-width: 768px) {
	html body #react-root .app-container {
		.project-label {
			width: 160px;
		}
	}
	table[data-table=task-list] {
		td[data-column=project] {
			width: 172px;
		}
	}
}
@media (min-width: 992px) {
	html body #react-root .app-container {
		.project-label {
			width: 200px;
		}
	}
	table[data-table=task-list] {
		td[data-column=project] {
			width: 212px;
		}
	}
}
@media (min-width: 1200px) {
	html body #react-root .app-container {
		.project-label {
			width: 240px;
		}
	}
	table[data-table=task-list] {
		td[data-column=project] {
			width: 252px;
		}
	}
}