
@border-color: #0CF;
@margin-elt : 4px;

@font-size-default : 16px;
@font-family-default: Arial, sans-serif;
@text-color : #EEE;

@button-color : #8BF;
@button-hover-color : #8AE;

html {

	body {
		background-color: #333;
		font-family: @font-family-default;
		font-size: @font-size-default;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		height: 100%;
		max-width: 416px;
		overflow-x: hidden;
		overflow-y: scroll;

		#react-root {
			.app-container {
				color: @text-color;
				padding-top: 34px;
				margin-left: auto;
				margin-right: auto;

				.text-page {
					margin: 8px;
					h2 {
						margin-bottom: 12px;
					}
					p {
						margin-top: 12px;
						margin-bottom: 0px;
						line-height: 24px;
					}
					ul {
						margin: 0px;
						li {
							line-height: 24px;
						}
					}
				}

				a {
					color: @button-color;
				}

				a.common-button {
					text-decoration: none;
					color: #000;
					background-color: @button-color;
					padding: 4px 8px;
					display: inline-block;
					border-radius: 2px;
					margin: 2px 4px;
					&:hover {
						background-color: @button-hover-color;
					}
				}

				.content {
					background-color: rgba(0, 0, 0, 0.5);
				}

				@import "components/small-button.less";
				@import "components/menu.less";
				@import "components/alerts.less";
				@import "components/radio-selector.less";

				.clearfix {
					clear: both;
				}

				select, 
				input[type=text] {
					border-style: solid;
					border-width: 1px;
					border-radius: 4px;
					background-color: #444;
					border-color: transparent;
					box-sizing: border-box;
					padding: 4px 8px;
					color: @text-color;
					font-size: @font-size-default;
					font-family: @font-family-default;
					outline: none;
				}
				input[type=text] {
					color: @text-color;
				}
				select {
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					background-size: 20px;
					background-repeat: no-repeat;
					background-position-x: right;
					background-position-y: center;
					height: 24px;
					border-width: 1px;
					border-type: solid;
					border-radius: 4px;
					padding: 1px 2px;
					margin: 1px 2px;
					color: @text-color;
					background-image: url("img/arrow-white.png");
					option {
						height: 24px;
						color: @text-color;
					}
				}

				.project-label {
					line-height: 18px;
					color: #FFF;
					border-radius: 2px;
					padding: 3px 6px;
					width: 40px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow-x: hidden;
				}

				select.project-label {
					width: 100%;
					height: 27px;
					margin: 0px;
				}

				div.new-task-form {
					padding: 2px 4px;
				}

				div.ui-tr {
					border-radius: 4px;
					margin:	4px;
					&>div.td {
						display: inline-block;
						vertical-align: middle;
					}
				}
				div.ui-block {
					margin: 4px 4px;
					border-radius: 4px;
					padding:	4px;
				}

				span.color-yes {
					color: #0A0;
				}
				span.color-no {
					color: #A00;
				}

				.list-table {
					width: 100%;
					.ui-tr {
						padding: 2px 2px;

						&.status-done {
							color: #888;
							opacity: 0.8;
							z-index: 0;

							.project-label {
								opacity: 0.8;
							}
						}

						input {
							width: 100%;
						}
					}
				}

				.view-table {
					width: 100%;
					input[type=text] {
						width: 100%;
					}
					.view-row {
						padding: 4px 4px;
						div[data-column=label] {
							display: inline-block;
							width: 30%;
						}
						div[data-column=value] {
							display: inline-block;
							width: 70%;
						}
					}
				}

				.label {
					border-radius: 4px;
					padding: 0px 4px;
					line-height: 18px;
					min-height: 20px;
				}

				// Form on full page
				div.form-table {
					width: 100%;
					div.view-row {
						width: 100%;
						padding: 2px 4px;
						div[data-column=label] {
							display: inline-block;
							width: 30%;
						}
						div[data-column=value] {
							display: inline-block;
							width: 70%;
							box-sizing: border-box;
							padding: 0px 4px;

							select {
								width: 100%;
								height: 28px;
								margin: 1px 0px;
							}
							input[type=text] {
								width: 100%;
							}
						}
					}
				}

				.page-content {
					padding-left: 4px;
					padding-right: 4px;
					padding-top: 4px;
					padding-bottom: 4px;
				}

				.__react_component_tooltip {
					font-size: @font-size-default;
				}
			}
		}
	}
}

div[data-table=task-list] {
	div.td[data-column=actions] {
		width: 84px;
	}
	div.td[data-column=project] {
		width: 52px;
		margin: 0px 2px;
	}
	div.td[data-column=name] {
		width: calc(100% - 140px);
	}
}
div[data-table=project-list] {
	div.td[data-column=actions] {
		width: 84px;
	}
	div.td[data-column=indicators] {
		width: 28px;
	}
	div.td[data-column=name] {
		width: calc(100% - 112px);
	}
}
div[data-table=settings-list] {
	div.td[data-column=label] {
		width: 100px;
	}
	div.td[data-column=value] {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
div[data-table=import-project-list] {
	div.td[data-column=name] {
		width: calc(100% - 28px);
	}
	div.td[data-column=actions] {
		width: 28px;
	}
}

@media (min-width: 420px) {
  html body {
    max-width: none;
  }
}
@media (min-width: 480px) {
	html body #react-root .app-container {
		.project-label {
			width: 80px;
		}
	}
	div[data-table=task-list] {
		div.td[data-column=project] {
			width: 92px;
		}
		div.td[data-column=name] {
			width: calc(100% - 180px);
		}
	}
}
@media (min-width: 576px) {
	html body #react-root .app-container {
		.project-label {
			width: 120px;
		}
	}
	div[data-table=task-list] {
		div.td[data-column=project] {
			width: 132px;
		}
		div.td[data-column=name] {
			width: calc(100% - 220px);
		}
	}
}
@media (min-width: 768px) {
	html body #react-root .app-container {
		.project-label {
			width: 160px;
		}
	}
	div[data-table=task-list] {
		div.td[data-column=project] {
			width: 172px;
		}
		div.td[data-column=name] {
			width: calc(100% - 260px);
		}
	}
}
@media (min-width: 992px) {
	html body #react-root .app-container {
		.project-label {
			width: 200px;
		}
	}
	div[data-table=task-list] {
		div.td[data-column=project] {
			width: 212px;
		}
		div.td[data-column=name] {
			width: calc(100% - 300px);
		}
	}
}
@media (min-width: 1200px) {
	html body #react-root .app-container {
		.project-label {
			width: 240px;
		}
	}
	div[data-table=task-list] {
		div.td[data-column=project] {
			width: 252px;
		}
		div.td[data-column=name] {
			width: calc(100% - 340px);
		}
	}
}