
@border-color: #0CF;
@margin-elt : 4px;

@font-size-default : 14px;
@text-color : #111;

@button-color : #8BF;

body {
	background-color: #FFF;
	font-family: Helvetica, sans-serif, Arial;
	font-size: @font-size-default;
	color: @text-color;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

	table.list-table {
		tr.status-active {
			color: @text-color;
		}
		tr.status-done {
			color: #888;
		}
		td.actions {
			min-width: 56px;
		}
	}
}

a.common-button {
	text-decoration: none;
	color: #000;
	background-color: @button-color;
	padding: 4px 8px;
	display: inline-block;
	border-radius: 2px;
	margin: 2px 4px;
}

a.small-button {
	color: #000;
	text-decoration: none;
	background-color: #8BF;
	width: 16px;
	height: 16px;
	margin: 1px 2px;
	border-radius: 2px;
	display: inline-block;
	padding: 4px;
}
.clearfix {
	clear: both;
}

div.menu {
	background-color: #DDD;
	margin-bottom: 2px;
	.menu-entry {
		display: inline-block;
		width: 60px;
		text-decoration: none;
		color: #000;
		padding: 6px 12px;
		text-align: center;
		&.active {
			background-color: @button-color;
		}
		&:hover {
			background-color: @button-color;
		}
	}
}

div.project-label {
	background-color: #CDE;
	border-radius: 2px;
	padding: 3px 6px;
}

div.alerts {
	.alert {
		padding: 4px 8px;
		&.error {
			background-color: #FCC;
			color: #400;
			.alert-hide {
				color: #800;
				&:hover {
					color: #000;
				}
			}
		}
		.alert-hide {
			float: right;
			cursor: pointer;
		}
	}
}